@<%= @urn %>
:citable_urn: <%= @citable_urn %>
:image_paths: <%= Jason.encode!(@image_paths) %>
:lemma: <%= @lemma %>
:overlays: <%= Jason.encode!(@overlays) %>
:page_ids: <%= Jason.encode!(@page_ids) %>
:transcript: <%= @transcript %>
:start_offset: <%= @start_offset %>
:end_offset: <%= @end_offset %>

<%= @content %>

---
